* {
    margin: 0;
    padding: 0
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
}

.welcome {
    font-family: 'Oswald', sans-serif;
    margin-left: 15px;
}
.nav-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.home {
    margin-right: 30%;
}

.goals {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    flex-direction: column;
  }
  
  
.logout-button {
    background-color: teal;
    border: none;
    color: white;
    box-shadow: 0 1px 6px #ccc;
    width: 80px;
    border-radius: 6px;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 12px;
  }
  